:root {
  --primary-color: #f9f3dd;
  --secondary-color: #8ea39f;
  --accent-color: #0a5372;
  --text-color: #120a11;
  --background-color: #6d6460;

  --font-small: 0.875rem; /* 14px */
  --font-medium: 1rem; /* 16px */
  --font-large: 1.5rem; /* 24px */
  --font-xlarge: 2rem; /* 32px */

  --spacing-small: 0.5rem; /* 8px */
  --spacing-medium: 1rem; /* 16px */
  --spacing-large: 2rem; /* 32px */
  --spacing-xlarge: 4rem; /* 64px */
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Epilogue", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: var(--spacing-medium);
}

.navbar {
  background-color: rgb(142, 163, 159, 0.3);
}

.navbar a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: var(--font-medium);
}
.nav-link:hover {
  color: var(--primary-color);
}

.nav-link.active:hover {
  color: var(--accent-color);
}

.nav-link.active {
  color: var(--primary-color);
}

section {
  margin-bottom: 50px;
}

.heading {
  font-family: "Homemade Apple", cursive;
  font-size: var(--font-xlarge);
  display: flex;
  align-items: flex-start;
  justify-content: end;
  padding-right: 2rem;
  margin-top: 20px;
}

h1 {
  color: var(--accent-color);
}

h2 {
  color: var(--primary-color);
}

h3 {
  font-family: "Homemade Apple", cursive;
  font-size: var(--font-medium);
  color: var(--primary-color);
}

.hero {
  background: url("images/hero.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: end;
  color: var(--text-color);
  height: 80vh;
}

.about {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(142, 163, 159, 0.4);
  padding: 30px 0 30px 0;
}
.about img {
  height: 80vh;
  overflow: none;
  border-radius: 10px;
}

.about-text {
  align-self: center;
  max-width: 20%;
  font-size: var(--font-medium);
}

.gallery-cont {
  background-color: rgb(142, 163, 159, 0.4);
  padding: 30px 0 30px 0;
}

blockquote {
  font-style: italic;
  margin: 0 20px 20px 20px;
  padding: 10px;
  border-left: 4px solid var(--primary-color);
  background-color: rgb(142, 163, 159, 0.5);
}

blockquote cite {
  display: block;
  text-align: right;
  font-size: 0.9em;
  margin-top: 10px;
  color: #555;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallery img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.picture-link {
  position: relative;
  display: block;
  text-decoration: none;
}

.picture-link img {
  display: block;
  width: 100%;
}

.picture-link .overlay {
  position: relative;
}

.picture-link .text-container {
  position: absolute;
  top: 90%;
  left: 80%;
  transform: translate(-50%, -50%);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(142, 163, 159, 0.5);
  padding: 10px;
  color: var(--accent-color);
}

footer .nav-link,
footer p {
  margin: 10px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

@media (max-width: 480px) {
  section {
    margin-bottom: 20px;
  }
  .hero {
    font-size: 1.2rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  section {
    margin-bottom: 30px;
  }
  .gallery {
    flex-direction: column;
    align-items: center;
  }
  .gallery img {
    max-width: 90%;
    margin-bottom: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  section {
    margin-bottom: 40px;
  }
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .hero {
    /* height: 400px; */
  }
}

@media (min-width: 1367px) {
  .hero {
    /* height: 600px; */
  }
  .gallery img {
    max-width: 300px;
  }
}

@media (min-width: 2500px) {
  .gallery img {
    max-width: 400px;
  }
}
