:root {
  /* Color Palette */
  --primary-color: #6d6460;
  --secondary-color: #8ea39f;
  --accent-color: #0a5372;
  --text-color: #120a11;
  --background-color: #f9f3dd;

  /* Font Sizes */
  --font-small: 0.875rem; /* 14px */
  --font-medium: 1rem; /* 16px */
  --font-large: 1.5rem; /* 24px */
  --font-xlarge: 2rem; /* 32px */

  /* Spacing */
  --spacing-small: 0.5rem; /* 8px */
  --spacing-medium: 1rem; /* 16px */
  --spacing-large: 2rem; /* 32px */
  --spacing-xlarge: 4rem; /* 64px */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: var(--spacing-medium);
}

section {
  margin-bottom: 40px;
}

h1 {
  font-family: "Homemade Apple", cursive;
  font-size: var(--font-xlarge);
  color: var(--accent-color);
  margin-bottom: var(--spacing-large);
  padding-right: 2rem;
}

.hero {
  background: url("images/hero.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: end;
  color: var(--text-color);
  height: 100vh;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallery img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) {
  .hero {
    /* height: 200px; */
    font-size: 1.2rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .hero {
    /* height: 350px; */
  }
  .gallery {
    flex-direction: column;
    align-items: center;
  }
  .gallery img {
    max-width: 90%;
    margin-bottom: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero {
    /* height: 400px; */
  }
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .hero {
    /* height: 400px; */
  }
}

@media (min-width: 1367px) {
  .hero {
    /* height: 600px; */
  }
  .gallery img {
    max-width: 300px;
  }
}

@media (min-width: 2500px) {
  .gallery img {
    max-width: 400px;
  }
}

/* Country Page */
